{% load static %}
{% block chatbot %}
<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Chat with our bot</h1>
    <div id="chat">
        <div id="messages"></div>
        <input type="text" id="user-input" placeholder="Type a message...">
        <button id="send">Send</button>
    </div>

    <script>
        $(document).ready(function() {
            $('#send').click(function() {
                var userInput = $('#user-input').val();
                if (userInput) {
                    $('#messages').append('<div>You: ' + userInput + '</div>');
                    
                    $.ajax({
                        url: '/chatbot/chat/',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ 'message': userInput }),
                        success: function(data) {
                            $('#messages').append('<div>Bot: ' + data.response + '</div>');
                            $('#user-input').val('');
                        },
                        error: function() {
                            $('#messages').append('<div>Bot: Sorry, something went wrong.</div>');
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>

{% endblock %}
