<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Cleaning-Products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cleaning Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Cleaning-Products-link">
                <a href="{% url 'products' %}?category=pre_wash,wash,paint,wheels" class="dropdown-item">Exterior</a>
                <a href="{% url 'products' %}?category=interior" class="dropdown-item">Interior</a>
                <a href="{% url 'products' %}?category=decontamination" class="dropdown-item">Decontamination</a>
                <a href="{% url 'products' %}?category=pre_wash,wash,paint,wheels,interior,decontamination" class="dropdown-item">All Cleaning Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="acessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="acessories-link">
                <a href="{% url 'products' %}?category=brush" class="dropdown-item">Brushes</a>
                <a href="{% url 'products' %}?category=cloths" class="dropdown-item">Microfibers</a>
                <a href="{% url 'products' %}?category=applicator" class="dropdown-item">Applicators</a>
                <a href="{% url 'products' %}?category=wash_buckets" class="dropdown-item">Wash Buckets</a>
                <a href="{% url 'products' %}?category=brush,cloths,applicator,wash_buckets" class="dropdown-item">All Acessories</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="sets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sets-link">
                <a href="{% url 'products' %}?category=kit_set" class="dropdown-item">All Kit Sets</a>
            </div>
        </li>
    </ul>
</div>