<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Cleaning-Products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cleaning Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Cleaning-Products-link">
                <a href="" class="dropdown-item">Exterior</a>
                <a href="" class="dropdown-item">Interior</a>
                <a href="" class="dropdown-item">Decontamination</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Cleaning Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="acessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="acessories-link">
                <a href="" class="dropdown-item">Cosmetic Bags</a>
                <a href="" class="dropdown-item">Microfibers</a>
                <a href="" class="dropdown-item">All Acessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="sets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sets-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Sets</a>
            </div>
        </li>
    </ul>
</div>